<a href="./"><button class="btn btn-success">Voltar</button></a> 

{{#each parceiros}}
<div class="card mt-4 ">
  <div class="card-body ">
    <h2 style="text-align: center; font-weight: bold">{{corporatename}}</h2>
    <img src="/uploads/{{image}}" alt="..." height="350" width="850">
    <p style="text-align: left; margin-top:10px" class="texto-limitado">{{describe}}</p>
    <a href="/usuarios/artigo/{{_id}}"><button class="btn btn-success">Leia Mais</button></a>
    <hr>
    <small>Data: {{data}}</small>
  </div>
</div>
{{else}}
<h4 class="mt-3">Nenhum registro feito!</h4>
{{/each}}