<div class="p-5 text-center " style="background-color: #485E36;">
    <h1 class="mb-0">Bem-vindos ao</h1>
    <img src="/img/GreenConnect.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-center">
    <h2 ><span style="color:#ffffff ;">Green Connect</span> </h2>
    <p>Seu app de Alimentos Orgânicos</p>
    <a class="btn btn-primary mt-3" href="/usuarios/nossoapp" role="button">Saiba Mais</a>
</div>

<hr>
{{!-- <h5>Últimos relatos: </h5>

{{#each relatos}}
  <div class="card mt-4">
    <div class="card-body ">
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <a href="/relatos/{{_id}}"><button class="btn btn-success">Leia Mais</button></a>
      <hr>
      <small>Categoria: {{categoria.nome}}</small><br>
      <small>Data: {{data}}</small>
    </div>
  </div>
{{else}}
  <p>Nenhum relato!</p>
{{/each}}
<br> --}}
