<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit=""
  data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;"
  data-resize="s4vcmt-orbit" id="s4vcmt-orbit" data-e="fsfl79-e" data-events="resize">
  <ul class="orbit-container" tabindex="0" style="height: 155.25px;">
    <button class="orbit-previous" tabindex="0"><span class="show-for-sr">Previous Slide</span>◀︎</button>
    <button class="orbit-next" tabindex="0"><span class="show-for-sr">Next Slide</span>▶︎</button>
    <li class="orbit-slide" data-slide="0" style="display: none; position: relative; top: 0px;">
      <img class="orbit-image" src="/img/mato.jpg" alt="Space">
      <figcaption class="orbit-caption">Não é necessário comer menos, é necessário comer melhor.</figcaption>
    </li>
    <li class="orbit-slide is-active" data-slide="1" style="position: relative; top: 0px; display: block;"
      aria-live="polite">
      <img class="orbit-image" src="/img/feira.jpg" alt="Space">
      <figcaption class="orbit-caption">Se a vida te der limões, faça um suco verde.</figcaption>
    </li>
    <li class="orbit-slide" data-slide="2" style="position: relative; top: 0px; display: none;">
      <img class="orbit-image" src="/img/legume.jpg" alt="Space">
      <figcaption class="orbit-caption">Você escolhe o seu amanhã a cada mordida que você dá hoje.</figcaption>
    </li>
    <li class="orbit-slide" data-slide="3" style="position: relative; top: 0px; display: none;">
      <img class="orbit-image" src="/img/milho.jpg" alt="Space">
      <figcaption class="orbit-caption">Comer bem para viver melhor!</figcaption>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="" data-slide="0"><span class="show-for-sr">First slide details.</span></button>
    <button data-slide="1" class="is-active"><span class="show-for-sr">Second slide details.</span><span
        class="show-for-sr">Current Slide</span></button>
    <button data-slide="2" class=""><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3" class=""><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>

<div class="p-5 text-center " style="background-color: #2F8F37;">
    <h1 class="mb-0" style="color:#ffffff ; font-weight:bold">Bem-vindos ao</h1>
    <img src="/img/GreenConnect.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-center">
    <h2 ><span style="color:#ffffff ;">Green Connect</span> </h2>
    <p style="color:#ffffff ;">Seu app de Alimentos Orgânicos</p>
    <a class="btn btn-primary mt-3" href="/usuarios/nossoapp" role="button" style="background:#DB8F48; border-color: #DB8F48">Saiba Mais</a>
</div>

<hr>
{{!-- <h5>Últimos relatos: </h5>

{{#each relatos}}
  <div class="card mt-4">
    <div class="card-body ">
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <a href="/relatos/{{_id}}"><button class="btn btn-success">Leia Mais</button></a>
      <hr>
      <small>Categoria: {{categoria.nome}}</small><br>
      <small>Data: {{data}}</small>
    </div>
  </div>
{{else}}
  <p>Nenhum relato!</p>
{{/each}}
<br> --}}
