<div class="card mt-4">
  <div class="card-body ">
    <h2 style="text-align: center; font-weight: bold">{{blogs.title}}</h2>
    <hr>
    <img src="/uploads/{{blogs.image}}" alt="..." height="350" width="850">
    
    <p>{{blogs.text}}</p>
    
    <hr>
    <small ><span style="font-weight:bold">Nome do Autor:</span> {{blogs.name}}</small>
    <br>
    <small><span style="font-weight:bold">Data:</span> {{blogs.data}}</small>
    <hr>
    <a href="/usuarios/blog" style="align-itens: center;"><button class="btn btn-success">Voltar</button></a>
  </div>
</div>