<div class="callout large primary">
  <div class="text-center">
    <h1>Green Blog</h1>
    <h2 class="subheader">Faça publicações,converse e opine sobre assuntos do momento </h2>
  </div>
</div>

{{#each blogs}}
  <div class="card mt-4">
    <div class="card-body ">
      <h3>{{title}}</h3>
      <img src="/uploads/{{image}}" alt="..."  height="350" width="850">
      <p style="font-weight:bold">Nome do Autor: <span>{{name}}</span></p>
      <p style="font-weight:bold">Conteúdo do Artigo: <span>{{text}}</span></p>
      <p style="font-weight:bold">Data: <span>{{data}}</span></p>
    </div>
  </div>
{{else}}
  <h4 class="mt-3">Nenhum artigo publicado!</h4>
{{/each}}
<br>

{{!-- <article class="grid-container">
  <div class="grid-x align-center">
    <div class="cell medium-8">
      <div class="blog-post">
        <h3>Meu campo de Uvas 😍 <small>15/9/2023</small></h3>
        <img class="thumbnail" src="8ad9006db6fe3ba9d92862748032d2c0604cf980.webp">
        <p>Depois de muitas temporadas e colheitas ruins, minhas uvas finalmente voltaram a crescer, sem agrotóxicos 
          e sem nenhum tipo de produto que afete o crescimento natural.</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Autor: Alice Kristal</a></li>
            <li><a href="#">Comentários: 9</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="grid-x align-center">
      <div class="cell medium-8">
        <div class="blog-post">
          <h3> TOP 5 PIORES PRAGAS QUE PODEM ATINGIR SUA COLHEITA <small>28/4/2023</small></h3>
          <img class="thumbnail" src="https://placehold.it/">
          <p>As pragas são uma das maiores preocupações de quem cultiva plantas, especialmente na agricultura, onde podem causar grandes prejuízos e comprometer toda a colheita. Nesse sentido, conhecer as principais pragas e seus efeitos é essencial para adotar medidas preventivas e de controle. Confira a seguir as 5 piores pragas que podem afetar uma colheita:<br>

1- Lagarta-do-cartucho: Esta praga é uma das mais comuns na cultura do milho e pode causar prejuízos significativos à produtividade. As lagartas se alimentam das folhas e do cartucho das plantas, podendo até mesmo inviabilizar a produção de espigas.<br>

2- Broca-do-café: A broca-do-café é uma praga que afeta diretamente os grãos de café, podendo causar perda de até 20% na produção. Ela se instala dentro dos frutos, onde realiza a postura de seus ovos e se alimenta, comprometendo a qualidade do café.<br>

3- Ferrugem-da-soja: A ferrugem-da-soja é uma doença fúngica que pode causar grandes prejuízos na produção de soja, reduzindo a produtividade e a qualidade dos grãos. Os sintomas incluem o aparecimento de manchas nas folhas e a queda prematura das mesmas.<br>

4- Mosca-das-frutas: Esta praga afeta diversas frutas, como manga, laranja e banana, comprometendo a qualidade e a produtividade. As moscas adultas depositam seus ovos nos frutos, onde as larvas se alimentam, causando apodrecimento e queda.<br>

5- Cochonilha: A cochonilha é uma praga comum em diversas culturas, como citros, frutíferas e ornamentais, podendo causar grandes prejuízos. Ela se instala na superfície das plantas, onde suga a seiva e causa deformações e manchas.<br>

Conhecer as principais pragas e adotar medidas preventivas e de controle é essencial para garantir a produtividade e a qualidade da colheita. Fique atento e cuide bem de suas plantas!</p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Autor: Junior do Agro</a></li>
              <li><a href="#">Comentários: 15</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x align-center">
      <div class="cell medium-8">
        <div class="blog-post">
          <h3>A seca chegou nas minhas terras 😭 <small>3/3/2016</small></h3>
          <img class="thumbnail" src="https://placehold.it/850x350">
          <p>Infelizmente a seca chegou nas minhas terras, a chuva já estava rara,era questão de tempo até as terras secarem e o gado morrer...</p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Autor: Jão das peras</a></li>
              <li><a href="#">Comentários: 5</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x align-center">
      <div class="cell medium-8">
        <div class="blog-post">
          <h3>Mais um dia vendendo mangas <small>3/6/2016</small></h3>
          <img class="thumbnail" src="https://placehold.it/850x350">
          <p>Mais um dia vendendo minhas mangas, se quiserem comprar é só entrar na loja Seu Zé da Manga <br>
           ou então me encontrar na Feira de Cavaleiro</p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Autor: Zé da Manga</a></li>
              <li><a href="#">Comentários: 5</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</article> --}}
